// Fonts

$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Playfair Display', serif;
$font-special: 'Marck Script', serif;


// $f-xs: "0.7rem";
// $f-s: "0.9rem";
// $f-m: "1.2rem";
// $f-l: "1.5rem";
// $f-xl: "2rem";
// $f-xxl: "2.5rem";
// $f-fat: "3rem";

// $v-xs: "0.2vw";
// $v-s: "0.4vw";
// $v-m: "0.5vw";
// $v-l: "0.8vw";
// $v-xl: "1vw";