@mixin wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 32px;

    @media (max-width: 320px) {
        padding: 0 12px;
    }

    @media (max-width: 768px) {
        padding: 0 16px;
    }

    @media (min-width: 768px) {
        padding: 0 24px;
    }

    @media (min-width: 1024px) {
        padding: 0 32px;
    }
}

.wrapper {
    @include wrapper;

    &__big {
        max-width: 1920px;
    }
}

@mixin container {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    @include container;
}