@use '../_abstracts' as *;

.btn {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 45px;
    line-height: 45px;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    letter-spacing: 2px;
    margin: $space-s 0;
    overflow: hidden;
    transition: background-color .3s, color .3s;
    z-index: 0;
    @include fluid-font (1vw, 22px, 22px, 22px);

    &__primary {
        @include btn-color(color(darks), color(whites));
    }

    &__secondary {
        width: 220px;
        @include btn-color(color(darks), color(whites));
    }
}

@include tablet {
    .btn {
        margin: $space-m 0;
        width: 165px;

        &:hover {
            @include btn-color(color(darkgolds), color(lights));
        }

        &__secondary {
            width: 280px;
            height: 50px;
            line-height: 50px;
        }
    }
}

@include ipad-pro {
    .btn {
        &__secondary {
            width: 360px;
        }
    }
}

@media (hover: hover) and (pointer: fine) {
    .btn {
        &:hover {
            @include btn-color(color(darkgolds), color(lights));
        }
    }
}
