@use '../_abstracts/index' as *;

.grid {
    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat (6, 1fr );
        place-items: center;
        gap: 2px;
        padding: 2px;
    }
}

.image {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100px;
    object-fit: cover;
    object-position: center;
    transition: transform 1.5s, filter 1s;
    
    &:hover {
        transform: scale(1.05);
        filter: brightness(110%);
    }

    &__container {
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
}

#one {
    grid-column: 1 / 2;
    grid-row: 1;
}

#two {
    grid-column: 2 / 3;
    grid-row: 1;
}

#three {
    grid-column: 1 / 2;
    grid-row: 2;
}

#four {
    grid-column: 2 / 3;
    grid-row: 2;
}

#five {
    grid-column: 1 / 3;
    grid-row: 3;
}

#six {
    grid-column: 1 / 2;
    grid-row: 4;
}

#seven {
    grid-column: 2 / 3;
    grid-row: 4;
}

#eight {
    grid-column: 1 / 3;
    grid-row: 5;
}

@include tablet {
    .grid {
        &__container {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat (7, 1fr);
            gap: 8px;
            padding: 8px;
        }
    }

    #one {
        grid-column: 1 / 2;
        grid-row: 1;
    }

    #two {
        grid-column: 2 / 3;
        grid-row: 1;
    }

    #three {
        grid-column: 3 / 4;
        grid-row: 1;
    }

    #four {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #five {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }

    #six {
        grid-column: 1 / 2;
        grid-row: 3;
    }

    #seven {
        grid-column: 2 / 3;
        grid-row: 3;
    }

    #eight {
        grid-column: 3 / 4;
        grid-row: 3;
    }
}