@use '../_abstracts/index' as *;    

.prompt {
    width: 100%;
    margin-top: $space-l;
    padding: $space-l 0;
    background-color: color(darksands);

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    &__info {
        display: none;
        @include fluid-font (1.5vw, 46px, 46px, 46px);
        margin: $space-l 0 $space-l 0;
        font-family: $font-primary;
        font-variant: small-caps;
    }
}

@include ipad-pro {
    .prompt {
        margin-top: $space-xxxl;
        padding: $space-xxl 0;

        &__info {
            display: block;
        }
    }
}